:root {
    --primary-color: #3498DB; /*Primary color*/
    --secondary-color: #FFC107; /*Secondary color*/
    --accent-color: #2ECC40; /*Accent color*/
    --accent-color2: #944B00; /*Accent color hover*/
    --heading-font: 'poppins'; /*Font for headings*/
    --paragraph-font: list 'Roboto, condensed' /*Font for paragraphs*/
  }

  header, footer {
	display: grid;
    margin: 1rem auto;
    background-color: var(--primary-color);
	grid-template-columns: 120px 1fr 1fr;
	align-items: center;
	border-bottom: 1px solid #ccc;
	max-width: 1000px;
  }

  nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
  }

  .navigation {
    display: flex;
	flex-wrap: wrap;
    padding: 0;
	list-style: none;
  }

  .navigation li {
	flex: 1 1 auto;
}

.navigation a {
	display: block;
	padding: 20px;
	text-decoration: none;
	font-size: 1.2rem;
}

  header img {
    margin: 0 0.25rem 0 1rem;
	width: 64px;
	height: auto;
  }
  
h1, h2 {
    font-family: var(--heading-font);
    color: #944B00;
}

p {
    font-family: var(--paragraph-font);
    color: var(--primary-color);
}

nav a {
    text-decoration: none;
    padding: 1rem;
    border: 1px solid black;
}

 .hero article img {
    position: relative;
    width: 200px;
    height: auto;
    opacity: 1;
    float: right;
    margin-left: 200px;
}

/* footer {
    display: flex;
} */

footer p {
    /* display: flex; */
    justify-self: center;
    align-self: center;
}

footer a img {
    /* display: flex; */
    justify-self: flex-end;
    align-self: center;
    text-decoration: none;
}

section {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 1fr;
    justify-content: center;
    align-items: center;
}

section h2 {
    justify-content: center;
    align-items: center;
}

section p {
    grid-row: 1;
    justify-content: center;
    align-items: center;
}

section div {
grid-column: 1/5;
}

section div p {

}

section div img {
    /* margin: 0 20px; */
}

.hero {
    position: relative;
}

.hero h1 {
    background-color: rgb(175, 169, 169);
    color: var(--accent-color2);
    width: 100%;
    opacity: 0.5;
    position: absolute;
    padding-left: 50%;
    padding-top: 10px;
    padding-bottom: 10px;
    top: 10px;
    left: px;
}

.hero article {
    position: absolute;
    background-color: #8bb7d4;
    padding-left: 10px;
    margin-top: 40px;
    margin-left: 10%;
    margin-right: 10%;
    opacity: 0.6;
    top: 80px;
}

.hero img {
    display: block;
    height: auto;
}

article {
    margin: 10px;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

footer div {
    display: flex;
    gap: 10px;
}

footer p {
    color: white;
    flex: 1;
}